.contentTile {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--almost-white);
  @media(max-width: theme('screens.md.max')) {
    height: fit-content !important;
  }
}

.contentTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-white);

  @media(max-width: theme('screens.md.max')) {
    width: 100% !important;
    overflow: auto !important;
  }
}

.contentText {
  padding: 2rem;
  font-size: 1rem;
  font-weight: 300;
  align-self: center;
  color: var(--dark-grey);
}

.contentTileImage {
  @extend .contentTile;
  flex-direction: row;

  @media(max-width: theme('screens.md.max')) {
    min-height: 0px !important;
    flex-direction: column !important;
  }
}

.contentImage {
  background-color: white;
  margin: 0;
  min-height: 100%;
  position: relative;

  @media(max-width: theme('screens.md.max')) {
    height: 200px !important;
    width: 100% !important;
  }
}
